{% extends 'base.html' %}

{% block main %}

    <h2>Lista de Pesquisadores</h2>

    <ul>
    {% for pesquisador in pesquisadores %}
        <li>
            <a href="{% url 'core_pesquisador_update' pesquisador.id %}"> {{pesquisador.nome }} </a>
        </li>
    {% endfor %}
    </ul>

    <form action="{% url 'core_pesquisador_novo' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-primary" >Cadastrar</button>

    </form>

{% endblock %}